<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.1.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!-- 配置映射机制：根据控制器Bean的名字将控制器映射到URL-->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />-->
    <!-- 处理Controller -->
    <!--<bean name="/hello.action" class="com.example.controller.HelloController" />-->

    <!-- SimpleUrlHandlerMapping -->
    <!--<bean id="hi" class="com.example.controller.HelloController" />
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
        <property name="urlMap">
            <map>
                <entry key="/hi.action" value-ref="hi"></entry>
            </map>
        </property>
    </bean>-->

    <!-- ControllerClassNameHandlerMapping -->
    <!--<bean id="message" class="com.example.controller.MessageController" />
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />-->

    <!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>-->
    <!-- 开启Controller检测 -->
    <context:component-scan base-package="com.example.controller" />

    <!-- 视图解析器：InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>