<component name="ArtifactManager">
  <artifact type="war" name="springmvcExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="maven-springmvc.war">
      <element id="artifact" artifact-name="springmvcExample:war exploded" />
    </root>
  </artifact>
</component>